<!--부트스트랩 js, jquery 추가-->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted text-sm">
            MySpring©2021-10, Designed and built with all the love in the world by the Bootstrap team with the help of our contributors.
            Currently v5.1.1.
        </span>
    </div>
</footer>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/jquery-3.6.0.min.js"></script>
{{#block "js"}}{{/block}}